.HomePage {
  margin-top: 80px;
  margin-bottom: 80px;
}

.welcomeText {
  font-size: large;
  margin-bottom: 40px;
}

.carousel-inner {
  margin-bottom: 70px;
  // margin-top: -40px;
}

.textHome {
  margin-top:80px;
  color:white;
  margin-left:90px

}

.par1 {
  margin-top: 30px;
  margin-bottom: 40px;
  color:#8b949e;
}

.homeVid {
  margin-top:90px;
}


  