.allText {
  color: white;
  margin-top: 50px;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.headers {
  margin-top:30px;
  margin-bottom: 15px;
}

.divs {
  color:grey;
}

.wide {
  margin-top: 15px;
  margin-bottom: 10px;
}
