.News {
  margin-top: 200px;
}

.allText {
  color: white;
  margin-top: 50px;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.newsImg {
  max-width: 1250px;
  margin-left: 15px;
  margin-top: 30px;
}
.form {
  margin-top:30px;
  margin-bottom: 30px;
  max-width:600px;
}

.header {
  margin-top:40px;
}

.fields {
  margin-top:30px;
  color:white;
}

.par1 {
  color:white;
}

.par2 {
  color:white;
}
