
.image {
  margin-top:60px;
  margin-left: 80px;
  margin-right: 630px;
  width: 400px;
}

.modelInfo {
  margin-left:630px;
  position: absolute;
  margin-top:-450px;
  margin-left: 650px;
  color:white;
  text-align: left;
}

.price {
  font-size: larger;
}

.text {
  margin-right: 200px;
  margin-top:30px;
  font-size: 21px;
  color:gray;
}

.number {
  width:35px;  
  margin-right: 20px;
  margin-top:10px;
}

.relatedText {
  margin-top: 140px;
  margin-right: 800px;
  color:white;
}
